.container {
    background-color: #5ca9f5;
  }

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
    margin-left: 35%;
    padding: 12px 200px;
    border: solid #288241;
    background: #32a852;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .29em;
    border-radius: 4px;
  }